<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Shaastra' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>7417d80d-c83f-4570-9b50-e89e59850980</InstrumentationKey>
</ApplicationInsights>